Repository MrMiless44/Infamous-Freight-Enterprises: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

Mock Prisma Shipment methods in jest.setup.js
  api/jest.setup.js
Due: none

Update user API tests to match new response format
  api/__tests__/routes.users.test.js
Due: none

Refactor user routes to use consistent response format
  api/src/routes/users.js
Due: api

fix(docker): remove redundant COPY in builder-shared stage
  api/Dockerfile
Due: none

ci: install openssl for prisma builds
  .github/workflows/docker-build.yml
  .husky/pre-commit
Due: none

Pass database URL as build argument
  .github/workflows/docker-build.yml
  web/Dockerfile
Due: none

fix(web): use web-vitals v4 reporters
  web/pages/_app.tsx
Due: web

feat(prisma): add invoice model
  api/prisma/migrations/202501100001_add_invoice/migration.sql
  api/prisma/migrations/migration_lock.toml
  api/prisma/schema.prisma
Due: none

feat(prisma): add invoice model
  .husky/pre-commit
  api/prisma/migrations/202502230001_add_invoice_table/migration.sql
  api/prisma/schema.prisma
Due: none

chore: add billing routes directory
  .husky/pre-commit
  src/routes/billing/.gitkeep
  src/routes/billing/README.md
Due: none

feat(prisma): add invoice model
  .husky/pre-commit
  api/prisma/migrations/20251224055526_add_invoice_model/migration.sql
  api/prisma/migrations/migration_lock.toml
  api/prisma/schema.prisma
Due: none

feat(api): add invoice auditing routes
  API_REFERENCE.md
  api/__tests__/helpers/database.js
  api/__tests__/routes.invoices.test.js
  api/jest.setup.js
  api/prisma/migrations/202502091200_add_invoices/migration.sql
  api/prisma/schema.prisma
  api/prisma/seed.js
  api/src/routes/invoices.js
  api/src/server.js
  api/src/swagger.js
Due: api

fix: restore vercel config
  vercel.json
Due: none

fix: align stripe env keys
  .husky/pre-commit
  api/__tests__/config.test.js
  api/scripts/env.validation.js
  api/src/config.js
Due: api

feat(billing): add invoice listings and reports
  api/__tests__/routes.billing.invoices.test.js
  api/__tests__/routes.billing.reports.test.js
  api/__tests__/routes.billing.test.js
  api/src/routes/billing.js
  api/src/routes/billing/invoices.js
  api/src/routes/billing/reports.js
  api/src/server.js
Due: api

fix(db): expose prisma named export
  .husky/pre-commit
  api/__tests__/db.prisma.test.js
  api/src/db/prisma.js
Due: api

feat(ai): add offline synthetic audit handling
  api/src/services/__tests__/aiSyntheticClient.test.js
  api/src/services/__tests__/syntheticFallback.test.js
  api/src/services/aiSyntheticClient.js
  api/src/services/syntheticFallback.js
Due: api

chore: broaden supported node versions
  .husky/pre-commit
  README.md
  package.json
  web/package.json
Due: none

ci: fix prisma schema path and shared build
  .github/workflows/docker-build.yml
  .husky/pre-commit
  api/Dockerfile
  package.json
Due: none

chore: install stripe with npm
  package-lock.json
  package.json
  web/package.json
Due: none

chore(web): loosen web-vitals import typing
  web/pages/_app.tsx
Due: web

feat(db): add billing models
  api/prisma/schema.prisma
Due: none

fix: add database-aware health check
  api/jest.setup.js
  api/src/db/prisma.js
  api/src/routes/__tests__/health.test.js
  api/src/routes/health.js
Due: api

Update routes.billing.reports.test.js
  api/__tests__/routes.billing.reports.test.js
Due: none

Update invoices.js
  api/src/routes/billing/invoices.js
Due: api

chore(web): point vercel build to fly api
  vercel.json
  web/.env.preview
  web/.env.production
  web/hooks/useApi.ts
  web/next.config.mjs
  web/pages/dashboard.tsx
Due: web

chore(web): configure Vercel for web-only Fly API
  web/next.config.mjs
Due: none

chore: add vercel analytics dependency
  package-lock.json
  package.json
  pnpm-lock.yaml
  web/package.json
Due: none

chore: prefer NEXT_PUBLIC_API_URL for web rewrites
  web/next.config.mjs
Due: none

chore: update vercel config for web build
  vercel.json
Due: none

ci(netlify): configure web build and next plugin
  netlify.toml
  package.json
  pnpm-lock.yaml
Due: none

chore(netlify): fix monorepo build configuration
  netlify.toml
  package.json
Due: none

Update package.json
  package.json
Due: none

Update netlify.toml
  netlify.toml
Due: none

ci: fix pnpm workspace install
  .github/workflows/ci.yml
  package.json
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

chore: initialize monorepo foundation and tooling
  .env.example
  .github/workflows/ci.yml
  ARCHITECTURE.md
  LICENSE
  README.md
  SECURITY.md
  docker/docker-compose.yml
  docs/architecture.md
  docs/investor-technical-appendix.md
  docs/pilot-case-study.md
  docs/security.md
  package.json
  pnpm-workspace.yaml
Due: none

Path conditions:
  api: any of: api/src, api/tests, but not: node_modules, coverage, dist, .next, out
  web: any of: web/components, web/pages, web/hooks, but not: node_modules, coverage, dist, .next, out
