Repository MrMiless44/Infamous-Freight-Enterprises: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  show_carryforward_flags: false

ignore:
  - "node_modules"
  - "coverage"
  - "dist"
  - ".next"
  - "out"

flags:
  api:
    carryforward: true
    paths:
      - api/src
      - api/tests
  web:
    carryforward: true
    paths:
      - web/components
      - web/pages
      - web/hooks

Restrict workflow run triggers for auto test fix
  .github/workflows/auto-pr-test-fix.yml
Due: none

ci: setup pnpm in workflow
  .github/workflows/ci.yml
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Improve HTML tidy validation diagnostics
  .github/workflows/ci.yml
Due: none

fix(web): skip lockfile patching during builds
  web/package.json
Due: none

Update package.json
  web/package.json
Due: none

Update auto-pr-test-fix.yml
  .github/workflows/auto-pr-test-fix.yml
Due: none

docs: log blocked API image build attempt
  DEPLOYMENT_EXECUTION_LOG.md
Due: none

ci: align node runtime versions
  .github/workflows/ci.yml
  .github/workflows/docker-build.yml
Due: none

Update docker-build.yml
  .github/workflows/docker-build.yml
Due: none

ci: restrict auto test fix to trusted main runs
  .github/workflows/auto-pr-test-fix.yml
Due: none

fix(api): restore config and billing compatibility
  api/package.json
  api/src/config/config.ts
  api/src/config/index.ts
  api/src/middleware/auth.ts
  api/src/middleware/errorHandler.ts
  api/src/middleware/security.ts
  api/src/routes/auth.ts
  api/src/routes/billing.ts
  api/src/server.ts
  pnpm-lock.yaml
Due: api

Update config.ts
  api/src/config/config.ts
Due: api

Update auth.ts
  api/src/middleware/auth.ts
Due: api

Update errorHandler.ts
  api/src/middleware/errorHandler.ts
Due: api

Update billing.ts
  api/src/routes/billing.ts
Due: api

fix(web): call web-vitals on-handlers
  web/pages/_app.tsx
Due: web

Simplify container security scanning workflow
  .github/workflows/container-security.yml
Due: none

Update container-security.yml
  .github/workflows/container-security.yml
Due: none

chore: tighten workflow permissions
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/container-security.yml
  .github/workflows/docker-build.yml
  .github/workflows/e2e.yml
  .github/workflows/fly-deploy.yml
  .github/workflows/vercel-deploy.yml
Due: none

Allow Node 22 for web app and refresh lockfile
  pnpm-lock.yaml
  src/apps/web/package.json
Due: none

Add environment configuration
  .env
Due: none

Update .env
  .env
Due: none

chore: align lockfile policy with pnpm
  .gitignore
  .npmrc
  README.md
  package-lock.json
Due: none
