Repository MrMiless44/Infamous-Freight-Enterprises: changes, and which Codecov flags are due for each by the changed paths.
All: api, web

codecov.yml:

codecov:
  require_ci_to_pass: yes
  branch: main

coverage:
  precision: 2
  round: down
  range: "70...100"

comment:
  layout: "reach,diff,flags,tree"
  behavior: default
  require_changes: no
  require_base: no
  require_head: yes
  show_carryforward_flags: false

ignore:
  - "node_modules"
  - "coverage"
  - "dist"
  - ".next"
  - "out"

flags:
  api:
    carryforward: true
    paths:
      - api/src
      - api/tests
  web:
    carryforward: true
    paths:
      - web/components
      - web/pages
      - web/hooks

fix: Handle axios import error in logger and correct metrics initialization
  api/src/middleware/logger.js
  api/src/services/metrics.js
Due: api

fix(web): Conditionally initialize Datadog RUM in production
  web/pages/_app.tsx
Due: web

docs: Update copilot instructions with links to code and env defaults
  .github/copilot-instructions.md
Due: none

feat: Add Edge DevTools extension to devcontainer
  .devcontainer/devcontainer.json
Due: none

Docs: Update copilot instructions for shared library changes and deep links
  .github/copilot-instructions.md
Due: none

ci(vercel): pin NODE_VERSION=20.18.1 for consistent builds
  vercel.json
Due: none

ci(husky): forward Jest flags in pre-push via -- to fix pnpm option parsing
  .husky/pre-push
Due: none

ci: pin Node 20.18.1 and align pnpm to 8.15.9 across workflows
  .github/workflows/ci.yml
  .github/workflows/vercel-deploy.yml
Due: none

chore(devcontainer): pin Node 20.18.1 and activate pnpm via corepack on start
  .devcontainer/devcontainer.json
  .devcontainer/postStartCommand.sh
Due: none

chore(deps): fix Datadog RUM version from v4.53.0 to v6.25.0 and regenerate lockfile
  .devcontainer/devcontainer.json
  .devcontainer/postStartCommand.sh
  pnpm-lock.yaml
  web/package.json
Due: none

fix(tests): skip supertest integration tests on Node 22+ (pass on Node 20.18.1 in CI)
  mobile/.expo/README.md
  mobile/.expo/devices.json
  mobile/tsconfig.json
Due: none

docs: add environment status and deployment options guide
  DEPLOYMENT_ENVIRONMENT_STATUS.md
Due: none

docs: add prioritized next steps action plan
  NEXT_STEPS.md
Due: none

docs: add step-by-step deployment guide for Vercel + Fly.io
  DEPLOY_NOW.md
Due: none

docs: add quick action deployment guide
  DEPLOY_ACTION.md
Due: none

docs: add comprehensive next steps roadmap
  NEXT_STEPS_ROADMAP.md
Due: none

docs: add step-by-step execution guide for live deployment
  DEPLOY_EXECUTE.md
Due: none

docs(deployment): ready for production deployment
  DEPLOY_NOW.md
Due: none

feat(web): add API proxy route to forward /api/proxy/* to backend\n\n- Uses NEXT_PUBLIC_API_URL or API_BASE_URL\n- Handles headers and JSON bodies\n- Returns 502 with details on failure
  Back in Vercel:
  Choose one:
  Untitled-1.yaml
  web/.next/build-manifest.json
  web/.next/react-loadable-manifest.json
  web/.next/server/interception-route-rewrite-manifest.js
  web/.next/server/middleware-build-manifest.js
  web/.next/server/middleware-react-loadable-manifest.js
  web/.next/server/next-font-manifest.js
  web/.next/server/pages-manifest.json
  web/.next/trace
  web/pages/api/proxy/[...path].ts
Due: web

chore(vercel): route /api/* and public API base to infamous-freight-ai.fly.dev
  vercel.json
Due: none

fix(vercel): don’t rewrite /api/proxy/* so Next proxy route remains reachable
  vercel.json
Due: none

feat(web): add afterFiles rewrites to proxy /api/* to Fly without shadowing /api/proxy/*; allow Fly domain for images
  web/next.config.mjs
Due: none

chore(vercel): scope config to web/ and add API rewrites + env; remove root vercel.json
  vercel.json
  web/vercel.json
Due: none

fix(vercel): add explicit build and install commands for monorepo context
  web/vercel.json
Due: none

fix(vercel): remove unsupported fields from vercel.json, rely on Next.js rewrites
  web/vercel.json
Due: none

chore(web): ensure @vercel/speed-insights is installed
  pnpm-lock.yaml
  web/package.json
Due: none

docs: add deployment complete summary
  DEPLOYMENT_COMPLETE.md
Due: none

fix(vercel): remove root vercel.json causing build errors
  web/vercel.json
Due: none

feat(sentry): enable sendDefaultPii for better error context
  api/src/config/sentry.js
Due: api

fix(sentry): correct import path in securityHeaders middleware
  api/src/middleware/securityHeaders.js
Due: api

fix(validation): correct POST /users middleware and response format
  api/jest.setup.js
  api/src/routes/users.js
Due: api

feat(sentry): add proper instrumentation at top of server initialization
  api/src/instrument.js
  api/src/server.js
Due: api

docs: add session 4 completion summary - validation fixes and sentry instrumentation
  SESSION_4_VALIDATION_COMPLETE.md
Due: none

docs: add deployment status report
  DEPLOYMENT_STATUS_SESSION4.md
Due: none

Skip Shipment Lifecycle Integration Test
  api/__tests__/integration/shipment-lifecycle.test.js
Due: none
